body{
	font-family:Verdana, Geneva, sans-serif;
	background-color:white;
	background-image:url("../img/humberLogo.png");
	background-repeat:no-repeat;
	background-size:513px 120px;
	background-position:50% 32px;
        margin:0px;
}
#divContainer{
	width:576px; 
	height:442px; 
	padding:18px; 
	text-align:center;
	float:center;
	margin-left:auto;
	margin-right:auto;
}
#divLogin{
	width:50%;
	height:30%;
	padding:8px;
	padding-top:10%;
	border:1px solid black;
	float:center;
	margin-left:auto;
	margin-right:auto;
}

header {
    padding-top:180px;
    text-align:center;
}

header .menu {
    
}

header .menu li {
    display: inline;
    padding: 3px;
}

header .menu li a{
    background-color: #CCCCCC;
    color: #000;
    padding: 10px;
    text-decoration: none;
}

footer {
    
}

#contentStrip {
        width:auto;
        height:400px;
        position:relative;
        top:50px;
        left:0px;
}
#contentStrip_InnerContainer {
        width:300px;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        border-top:1px solid #CCCCCC;
}
#contentStrip_InnerContainer_Header {
        width:300px;
        height:50px;
        float:left;
}
#contentStrip_InnerContainerHeaderFont {
        margin-top:17px;
        display:block;
        text-align:center;
}
#contentStrip_InnerContainer_Body {
        width:300px;
        height:auto;
        float:left;
        border-top:1px solid #CCCCCC;
        border-bottom:1px solid #CCCCCC;
}
#contentStrip_InnerContainer_BodyButtons {
        width:270px;
        height:40px;
        float:left;
        border:none;
        margin-top:15px;
        margin-left:15px;
}